<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/ui}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Aplicacion para gestion de reportes">
		<meta name="author" content="Santiago Cabrera M.">
	
		<title>Gestión de Almacenes</title>
	</head>
	
	<body>
		<div layout:fragment="content" th:remove="tag">
			<div class="container py-3">
				<div class="row">
					<div class="mx-auto col-sm-6 col-lg-12">
						<div class="jumbotron">
							<h3>Reporte de actividades del jefe de almacenes</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-sm-12 col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="mb-0">Actividades</h5>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="actividades"
										class="table table-bordered table-hover table-striped">
										<thead class="thead-light">
											<tr>
												<th scope="col">Hora Entrada</th>
												<th scope="col">Hora Salida</th>
												<th scope="col">Visita</th>
												<th scope="col">Cobro</th>
												<th scope="col">Pedido</th>
												<th scope="col">Proveedores</th>
												<th scope="col">Repartos</th>
												<th scope="col">Observaciones</th>
												<th scope="col">Incidencias</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="actividad: ${actividades}">
												<td th:text="${actividad.horaEntrada}"></td>
												<td th:text="${actividad.horaSalida}"></td>
												<td th:text="${actividad.visita}"></td>
												<td th:text="${actividad.cobro}"></td>
												<td th:text="${actividad.pedido}"></td>
												<td th:text="${actividad.proveedores}"></td>
												<td th:text="${actividad.repartos}"></td>
												<td th:text="${actividad.observaciones}"></td>
												<td th:text="${actividad.incidencias}"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<a class="nav-link" href="#" th:href="@{descargarReporteAlmacen}">
									<span>Descargar</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</body>
</html>