<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/ui}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Aplicacion para gestion de reportes">
		<meta name="author" content="Santiago Cabrera M.">
	
		<title>Gestión de Almacenes</title>
	</head>
	
	<body>
		<div layout:fragment="content" th:remove="tag">
			<div class="container py-3">
				<div class="row">
					<div class="mx-auto col-sm-6 col-lg-11">
						<div class="jumbotron">
							<h1>Ingresar Actividades</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-sm-6 col-lg-6">
						<div class="card">
							<div class="card-header">
								<h4 class="mb-0">Información</h4>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off">
									<div class="row form-group">
										<label class="col-lg-3 col-form-label form-control-label">Población:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="Jane">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Cliente:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="Bishop">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Visita:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="1">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Cobro:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="1">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Pedido:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="1">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Otros:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" value="1">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<br />
				
				<div class="row">
					<div class="mx-auto col-sm-6 col-lg-11">
						<div class="card">
							<div class="card-header">
								<h4 class="mb-0">Horarios</h4>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="inputEmail4">Entrada mañana:</label>
											<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
										</div>
										<div class="form-group col-md-6">
											<label for="inputPassword4">Salida mañana:</label>
											<input type="text" class="form-control" id="inputPassword4" placeholder="Password" value="Bishop">
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="inputEmail4">Entrada tarde:</label>
											<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
										</div>
										<div class="form-group col-md-6">
											<label for="inputPassword4">Salida tarde:</label>
											<input type="text" class="form-control" id="inputPassword4" placeholder="Password" value="Bishop">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</body>
</html>