<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/ui}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Aplicacion para gestion de reportes">
		<meta name="author" content="Santiago Cabrera M.">
	
		<title>Gestión de Almacenes</title>
	</head>
	
	<body>
		<div layout:fragment="content" th:remove="tag">
			<div class="container py-3">
				<div class="row">
					<div class="mx-auto col-sm-6 col-lg-12">
						<div class="jumbotron">
							<h3>Ingresar Actividades</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-sm-12 col-lg-12">
						<div class="card">
							<div class="card-header">
								<h5 class="mb-0">Información</h5>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off">
									<div class="row mb-3">
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="poblacion-id">Población:</label>
											<input id="poblacion-id" name="poblacion" type="text" class="form-control form-control-sm">
										</div>
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="cliente-id">Cliente:</label>
											<input id="cliente-id" name="cliente"type="text" class="form-control form-control-sm">
										</div>
									</div>
									
									<div class="row mb-3">
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="visita-id">Visita:</label>
											<input id="visita-id" name="visita" type="text" class="form-control form-control-sm">
										</div>
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="cobro-id">Cobro:</label>
											<input id="cobro-id" name="cobro"type="text" class="form-control form-control-sm">
										</div>
									</div>
									
									<div class="row mb-3">
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="pedido-id">Pedido:</label>
											<input id="pedido-id" name="pedido" type="text" class="form-control form-control-sm">
										</div>
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="otros-id">Otros:</label>
											<input id="otros-id" name="otros" type="text" class="form-control form-control-sm">
										</div>
									</div>
									
									<div class="row mb-2">
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="entrada-manana-id">Entrada mañana:</label>
											<input id="entrada-manana-id" name="entrada-manana" type="text" class="form-control form-control-sm">
										</div>
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="salida-manana-id">Salida mañana:</label>
											<input id="salida-manana-id" name="salida-manana" type="text" class="form-control form-control-sm">
										</div>
									</div>
									
									<div class="row mb-2">
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="entrada-tarde-id">Entrada tarde:</label>
											<input id="entrada-tarde-id" name="entrada-tarde" type="text" class="form-control form-control-sm">
										</div>
										<div class="col">
											<label class="col-form-label form-control-label form-control-sm" for="salida-tarde-id">Salida tarde:</label>
											<input id="salida-tarde-id" name="salida-tarde" type="text" class="form-control form-control-sm">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</body>
</html>