body {
	font-family: Calibri, Myriad;
	font-size: 11px;
}

td {	
	padding: 0;
}

.reporte {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;	
	border-style: hidden;
}

.titulo-cabecera {
	padding: 10px;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .4em;
	text-align: center;
	border-width: 1px;	
	border-style: solid;	
	border-color: #f79646;
	background-color: #f79646;
}

.titulo-reporte {
	padding: 3px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: .3em;
	text-align: center;
	border-width: 1px;	
	border-style: solid;	
	border-color: #f79646;
	background-color: #fde9d9;
}

.nombre-reporte {
	color: red;
}

.label {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	font-weight: bold;
	font-size: 10px;
	background-color: #ffffff;
}

.value {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	background-color: #ffffff;
}

.border-left {
	border-left-width: 1px;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-style: solid;	
	border-color: #f79646;
}

.border-right {
	border-left-width: 0;
	border-right-width: 1px;
	border-top-width: 0;
	border-bottom-width: 0;
	border-style: solid;	
	border-color: #f79646;
}

.subtitulo-cabecera {
	padding: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 8px;
	background-color: #F2F4F4;
	border-width: 1px;
	border-style: solid;	
	border-color: #f79646;
}

.data {
	text-align: center;
	font-weight: normal;
	font-size: 8px;
	border-width: 1px;
	border-style: solid;	
	border-color: #f79646;	
}

.data-footer {
	text-align: center;
	font-weight: bold;
	font-size: 8px;
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646;		
	background-color: #F2F4F4;
}

.odd {
	background-color: #ffffff;	
}

.even {
	background-color: #fde9d9;	
}