body {
	font-family: Calibri, Myriad;
	font-size: 11px;
}

tr td, th { 
	border-top-right-radius: 0;               
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}

.reporte {
	border-collapse: collapse;
	border: 1px solid #fff;
	border-style: hidden;
}

.reporte-cabecera {
	padding: 10px;
	background-color: #f79646;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .4em;
}

.reporte-subtitulo {
	padding: 5px;
	background-color: #fde9d9;
	font-size: 11px;
}