<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/ui}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="col-lg-10 col-xl-12 mx-auto" layout:fragment="content">
		<div class="card my-5">
			<h5 class="card-title text-center text-uppercase">Marcos Tonda</h5>
		</div>

		<div class="card flex-row my-5">
			<div class="d-none d-md-flex card-img-home"></div>
		</div>

		<div class="card flex-row my-5">
			<div class="d-none d-md-flex card-img-home"></div>
			<div class="card-body">
				<h5 class="card-title text-center text-uppercase">Marcos Tonda</h5>
			</div>
		</div>
	</div>


</body>

</html>