<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/ui}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Aplicacion para gestion de reportes">
		<meta name="author" content="Santiago Cabrera M.">
	
		<title>Gestión de Almacenes</title>
	</head>
	
	<body>
		<div layout:fragment="content" th:remove="tag">
			<div class="container">
				<div class="row text-center">
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<img class="card-img-top" src="../img/chocolate-gourmet-blanco.jpg" alt="Crear Comercial">
							<div class="card-body">
								<h4 class="card-title">Comercial</h4>
								<p class="card-text">Permite registrar las diferentes actividades de comerciales</p>
							</div>
							<div class="card-footer">
								<a href="#" th:href="@{crearActividadComercial}" class="btn btn-primary">Registrar</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<img class="card-img-top" src="../img/chocolate-puro-artesano-72-cacao-500g.jpg" alt="Reporte Comercial">
							<div class="card-body">
								<h4 class="card-title">Reporte Comercial</h4>
								<p class="card-text">Permite consultar las diferentes actividades de los comerciales</p>
							</div>
							<div class="card-footer">
								<a href="#" th:href="@{consultarActividadComercial}" class="btn btn-primary">Generar</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<img class="card-img-top" src="../img/chocolate-gourmet-blanco.jpg" alt="Crear Almacén">
							<div class="card-body">
								<h4 class="card-title">Almacén</h4>
								<p class="card-text">Permite registrar las diferentes actividades de almacenes</p>
							</div>
							<div class="card-footer">
								<a href="#" th:href="@{crearReporteAlmacen}" class="btn btn-primary">Registrar</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card h-100">
							<img class="card-img-top" src="../img/chocolate-puro-artesano-72-cacao-500g.jpg" alt="Reporte Almacén">
							<div class="card-body">
								<h4 class="card-title">Reporte Almacén</h4>
								<p class="card-text">Permite consultar las diferentes actividades de almacenes</p>
							</div>
							<div class="card-footer">
								<a href="#" th:href="@{consultarReporteAlmacen}" class="btn btn-primary">Generar</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 mb-4" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
						<div class="card h-100">
							<img class="card-img-top" src="../img/chocolate-gourmet-negro-72-con-naranja.jpg" alt="Usuarios">
							<div class="card-body">
								<h4 class="card-title">Usuarios</h4>
								<p class="card-text">Permite gestionar a los usuarios</p>
							</div>
							<div class="card-footer">
								<a href="#" th:href="@{usuarios}" class="btn btn-primary">Usuarios</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>