<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Aplicacion para gestion de reportes">
	<meta name="author" content="Santiago Cabrera M.">

	<title>Gestión de Almacenes</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>
	<!-- Navegacion -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-4">
		<div class="container">
			<a class="navbar-brand" href="#">Gestión de Almacenes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarResponsive" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#" th:href="@{/users}">
							<span>Usuarios</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/logout}">
							<span>Salir</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Contenido -->
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card flex-row my-5 card-signin">
					<div class="card-body">
						<h5 class="card-title text-center text-uppercase">Usuarios Registrados
						</h5>
						<div class="table-responsive">
							<table id="usersId"
								class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nombre</th>
										<th scope="col">Apellido</th>
										<th scope="col">Usuario</th>
										<th scope="col">E-mail</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user: ${userList}">
										<td th:text="${user.id}"></td>
										<td th:text="${user.firstName}"></td>
										<td th:text="${user.lastName}"></td>
										<td th:text="${user.username}"></td>
										<td th:text="${user.email}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>