<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Aplicacion para gestion de reportes">
	<meta name="author" content="Santiago Cabrera M.">

	<title>Gestión de Almacenes</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/user-form4.css" th:href="@{/css/user-form4.css}">
</head>

<body>
	<!-- Navegacion -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-4">
		<div class="container">
			<a class="navbar-brand" href="#">Gestión de Almacenes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarResponsive" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Inicio
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/users}">
							<span>Usuarios</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/logout}">
							<span>Salir</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Contenido -->
	<div class="container">
		<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
			<ul class="nav nav-tabs justify-content-end">
				<li class="nav-item"><a class="nav-link " th:classappend=" ${listTab}" id="list-tab"
						data-toggle="tab" href="#list" role="tab" aria-controls="list"
						aria-selected="false">List</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:classappend=" ${formTab}" id="form-tab"
						data-toggle="tab" href="#form" role="tab" aria-controls="form"
						aria-selected="true">Form</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}"><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
						- <span>logout </span><span class="float-right"><i
							class="fas fa-sign-out-alt"></i></span></a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show" th:classappend=" ${listTab}"
					id="list" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Roster</h4>
						</div>
						<div class="card-body">
							<div th:include="user-form/user-list.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${formTab}"
					id="form" role="tabpanel" aria-labelledby="form-tab">
					<div class="card">
						<div class="card-header">
							<h4>User Information</h4>
						</div>
						<div class="card-body">
							<div th:include="user-form/user-form.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${editMode}" th:include="user-form/change-password.html"
		th:remove="tag"></div>
	<div th:include="user-form/confirm-delete-dialog.html" th:remove="tag"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>